<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>
	<typeAliases>
		<typeAlias alias="Forum" type="com.eussi.mybatis.domain.Forum" />
		<typeAlias alias="Topic" type="com.eussi.mybatis.domain.Topic" />
		<typeAlias alias="Post" type="com.eussi.mybatis.domain.Post" />
	</typeAliases>
	<!--<mappers>-->
		<!--<mapper resource="com/eussi/mybatis/Forum.xml"/>-->
		<!--<mapper resource="com/eussi/mybatis/Topic.xml"/>-->
		<!--<mapper resource="com/eussi/mybatis/Post.xml"/>-->
	<!--</mappers>-->
</configuration>